<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <link rel="stylesheet" href="styles/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poiret+One&display=swap" rel="stylesheet">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body>

    <nav class="navbar is-mobile" id="navBar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="/">
                <img src="/photos/logo_white.png" alt="Invictus"
                    width="112" height="28">
            </a>
        </div>
        
        <div class="navbar-end">
            <div class="navbar-item">
                <form method="post" action="/logout"><button class="button is-white is-outlined">Logout</button>
                </form>
            </div>
        </div>

    </nav>
    <hr id="navBarHr" class="is-mobile">

    <div class="columns is-multiline is-centered ">
        <div class="column is-full is-mobile"></div>
        <div class="column is-narrow is-mobile">
            <!--<hr class="titleHr">-->
            <p id="wb" class="title is-1 has-text-centered is-mobile">
                <span id="name">Welcome back</span> <b>
                    <%= data.firstName %>
                        <%= data.lastName %>
                </b>
            </p>
            <p class="subtitle has-text-centered is-mobile">To invictus, lets get you caught up, shall we?</p>
            <!--<hr class="titleHr is-mobile">-->
        </div>
    </div>

    <div class="level"></div>

    <div class="columns is-4" id="dashboard-2">
        <div class="column ">
            <a href="#title-projects">
                <div class="box pan-stat ">
                    <p class="title is-3 has-text-centered pan-item">
                        <span class="icon ">
                            <span class="icon has-text-light is-small">
                                <i class="fas fa-project-diagram "></i>
                            </span>
                        </span>
                        <span class="has-text-light">Projects: <span class="counter">
                                <%= data.projects.length %>
                            </span></span>
                    </p>
                </div>
            </a>
        </div>
        <div class="column">
            <a href="#title-teams">
                <div class="box pan-stat">
                    <p class="title is-3 has-text-centered pan-item">
                        <span class="icon ">
                            <span class="icon has-text-light is-small">
                                <i class="fas fa-users"></i>
                            </span>
                        </span>
                        <span class="has-text-light">Teams: <span class="counter">
                                <%= data.teams.length %>
                            </span></span>
                    </p>
                </div>
            </a>
        </div>
        <div class="column">
            <a href="#title-users">
                <div class="box pan-stat">
                    <p class="title is-3 has-text-centered pan-item">
                        <span class="icon ">
                            <span class="icon has-text-light is-small">
                                <i class="fas fa-user"></i>
                            </span>
                        </span>
                        <span class="has-text-light">Users: <span class="counter">
                                <%= data.users.length %>
                            </span></span>
                    </p>
                </div>
            </a>
        </div>
        <div class="column">
            <a href="#title-tasks">
                <div class="box pan-stat">
                    <p class="title is-3 has-text-centered pan-item">
                        <span class="icon ">
                            <span class="icon has-text-light is-small">
                                <i class="fas fa-tasks"></i>
                            </span>
                        </span>
                        <span class="has-text-light">Tasks: <span class="counter">
                                <%= data.tasks.length %>
                            </span></span>
                    </p>
                </div>
            </a>
        </div>
        <div class="column">
            <a href="#title-worklogs">
                <div class="box pan-stat">
                    <p class="title is-3 has-text-centered pan-item">
                        <span class="icon ">
                            <span class="icon has-text-light is-small">
                                <i class="far fa-clock"></i>
                            </span>
                        </span>
                        <span class="has-text-light">Worklogs: <span class="counter">
                                <%= data.worklogs.length %>
                            </span></span>
                    </p>
                </div>
            </a>
        </div>
    </div>


    <section id="projects" class="section ">
        <div class="box ">
            <div class="columns is-multiline has-text-centered">
                <div class="column is-full has-text-centered">
                    <p class="pan-title title is-1 has-text-centered is-inline" id="title-projects">Projects</p> 
                    <button class="button is-success add-btn" onclick="createProject()">
                        <span class="icon is-small">
                            <i class="fas fa-plus"></i>
                        </span>
                        <span>Add</span>
                    </button>
                </div>
            </div>
            <div class="columns is-multiline is-centered ">
                <% let item=0 %>
                    <% for(const obj of data.projects) {%>
                        <div class="column is-one-quarter project is-centered pan" onclick="selectedProject=this.id; openProject(this.id); "
                            id="<%= item %>">
                            <div class="box project-box">
                                <p class="title has-text-centered has-text-light">
                                    <%= obj.Title%>
                                </p>
                            </div>
                        </div>
                        <% item++ %>
                    <% } %>
            </div>
        </div>
    </section>

    <section id="projects" class="section" id="tasks-pan">
        <div class="box">
            <div class="columns is-multiline has-text-centered">
                <div class="column is-full has-text-centered">
                    <p class="pan-title title is-1 has-text-centered is-inline" id="title-tasks">Tasks</p>
                    <button class="button is-success add-btn" onclick="createTask()">
                        <span class="icon is-small">
                            <i class="fas fa-plus"></i>
                        </span>
                        <span>Add</span>
                    </button>
                </div>
            </div>
            <div class="columns is-multiline is-centered ">
                <% item=0 %>
                    <% for(const obj of data.tasks) {%>
                        <div class="column is-one-quarter project is-centered pan" onclick="selectedTask=this.id; openTask(this.id.substring(3,this.id.length)); "
                            id="ta-<%= item %>">
                            <div class="box project-box">
                                <p class="title has-text-centered has-text-light">
                                    <%= obj.Title%>
                                </p>
                            </div>
                        </div>
                        <% item++ %>
                    <% } %>
            </div>
        </div>
    </section>

    <section id="projects" class="section ">
        <div class="box">
            <div class="columns is-multiline has-text-centered">
                <div class="column is-full has-text-centered">
                    <p class="pan-title title is-1 has-text-centered is-inline" id="title-teams">Teams</p>
                    <button class="button is-success add-btn" onclick="createTeam()">
                        <span class="icon is-small">
                            <i class="fas fa-plus"></i>
                        </span>
                        <span>Add</span>
                    </button>
                </div>
            </div>
            <div class="columns is-multiline is-centered ">
                <% item=0 %>
                    <% for(const obj of data.teams) {%>
                        <div class="column is-one-quarter project is-centered pan" onclick="selectedTeam=this.id; openTeam(this.id.substring(3,this.id.length)); "
                            id="te-<%= item %>">
                            <div class="box project-box">
                                <p class="title has-text-centered has-text-light">
                                    <%= obj.Title%>
                                </p>
                            </div>
                        </div>
                        <% item++ %>
                    <% } %>
            </div>
        </div>
    </section>

    <section id="projects" class="section ">
        <div class="box">
            <div class="columns is-multiline has-text-centered">
                <div class="column is-full has-text-centered">
                    <p class="pan-title title is-1 has-text-centered is-inline" id="title-users">Users</p>
                    <button class="button is-success add-btn" onclick="createUser()">
                        <span class="icon is-small">
                            <i class="fas fa-plus"></i>
                        </span>
                        <span>Add</span>
                    </button>
                </div>
            </div>
            <div class="columns is-multiline is-centered ">
                <% item=0 %>
                    <% for(const obj of data.users) {%>
                        <div class="column is-one-quarter project is-centered pan" onclick="selectedUser=this.id; openUser(this.id.substring(2,this.id.length)); "
                            id="u-<%= item %>">
                            <div class="box project-box">
                                <p class="title has-text-centered has-text-light">
                                    <%= obj.FirstName%> <%= obj.LastName %>
                                </p>
                            </div>
                        </div>
                        <% item++ %>
                    <% } %>
            </div>
        </div>
    </section>

<section>
    <div class="modal" id="project-modal">
        <div class="modal-background"></div>
        <div class="modal-content">
            <div class="box">
                <div class="columns">
                    <div class="column">
                        <button class="button" onclick='$("#project-modal").removeClass("is-active");'>X</button>
                    </div>
                </div>
                <div class="columns">
                    <div class="column has-text-centered">
                        <form method="delete" id="delete-project" action="/delete-project">
                            <button id="deleteButton" class="button is-danger is-outlined">
                                <span class="icon is-small">
                                    <i class="fas fa-times"></i>
                                </span>
                                <span>Delete</span>
                            </button>
                        </form>
                    </div>
                    <div class="column">
                        <p class="title has-text-centered" id="project-modal-title">testTitle</p>
                    </div>
                    <div class="column has-text-centered">
                        <button class="button is-link is-outlined" onclick="$('#project-modal').removeClass('is-active'); editProject();">
                            <span class="icon is-small">
                                <i class="fas fa-pencil-alt"></i>
                            </span>
                            <span>Edit</span>
                        </button>
                    </div>
                </div>
                <p class="subtitle has-text-centered" id="project-modal-description">testDescription</p>
                <p class="subtitle has-text-centered"><b>Created on:</b> <span id="project-modal-date-of-creation">testDate</span></p>
                <p class="subtitle has-text-centered"><b>Created by:</b> <span id="project-modal-creator"></span></p>
                <p class="subtitle has-text-centered"><b>Last updated on:</b> <span id="project-modal-last-update-date"></span></p>
                <p class="subtitle has-text-centered"><b>Last changed by:</b> <span id="project-modal-last-update-user"></span></p>
                <p class="subtitle has-text-centered"><b>Teams assigned to this project:</b> <span id="project-modal-teams"></span>
                <p class="subtitle has-text-centered"><b>Tasks assigned to this project:</b> <span id="project-modal-tasks"></span>
            </div>
        </div>
    </div>
</section>

<section>
    <form method="post" action="/create-project">
    <div class="modal" id="project-modal-create">
        <div class="modal-background"></div>
        <div class="modal-content">
            <div class="box">
                <div class="columns">
                    <div class="column">
                        <button class="button"  type="button" onclick='$("#project-modal-create").removeClass("is-active");'>X</button>
                    </div>
                </div>
                <div class="columns">
                    <div class="column">
                        <p class="title has-text-centered">Create new project</p>
                    </div>
                </div>
                <div class="columns">
                    <div class="column"></div>
                </div>
                <div class="columns is-centered">
                    <div class="field is-horizontal">
                        <div class="field-label is-normal">
                          <label class="label">Title: </label>
                        </div>
                        <div class="field-body">
                          <div class="field">
                            <p class="control">
                              <input class="input" id="project-create-title" type="text" placeholder="Project title">
                            </p>
                          </div>
                        </div>
                    </div>
                </div>
                <div class="columns"><div class="column"></div></div>
                <div class="columns is-centered">
                    <div class="field is-horizontal">
                        <div class="field-label is-normal">
                          <label class="label">Description: </label>
                        </div>
                        <div class="field-body">
                          <div class="field">
                            <p class="control">
                              <input class="input" id="project-create-description" type="text" placeholder="Project description">
                            </p>
                          </div>
                        </div>
                    </div>
                </div>
                <div class="columns"><div class="column"></div></div>
                <div class="columns has-text-centered">
                    <div class="column">
                        <button class="button is-success" id="project-create-btn">
                            <span class="icon is-small">
                              <i class="fas fa-check"></i>
                            </span>
                            <span>Save</span>
                          </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </form>
</section>

<section>
        <div class="modal" id="project-modal-edit">
            <div class="modal-background"></div>
            <div class="modal-content">
                <div class="box">
                    <div class="columns">
                        <div class="column">
                            <button class="button" onclick='$("#project-modal-edit").removeClass("is-active"); $("#project-modal").addClass("is-active");'>Back</button>
                        </div>
                    </div>
                    <div class="columns">
                        <div class="column"><p class="title has-text-centered">Edit project</p></div>
                    </div>
                    <div class="columns">
                        <div class="column"></div>
                    </div>
                    <div class="columns is-centered">
                        <div class="field is-horizontal">
                            <div class="field-label is-normal">
                              <label class="label">Title: </label>
                            </div>
                            <div class="field-body">
                              <div class="field">
                                <p class="control">
                                  <input class="input" id="project-edit-title" type="text" placeholder="Project title">
                                </p>
                              </div>
                            </div>
                        </div>
                    </div>
                    <div class="columns"><div class="column"></div></div>
                    <div class="columns is-centered">
                        <div class="field is-horizontal">
                            <div class="field-label is-normal">
                              <label class="label">Description: </label>
                            </div>
                            <div class="field-body">
                              <div class="field">
                                <p class="control">
                                  <input class="input" id="project-edit-description" type="text" placeholder="Project description">
                                </p>
                              </div>
                            </div>
                        </div>
                    </div>
                    <div class="columns is-centered is-flex">
                        <div class="column is-centered is-vcentered">
                            <p class="title is-horizontal is-5 has-text-centered">
                                <button class="button is-link is-outlined has-text-centered" onclick="$('#project-modal-edit').removeClass('is-active'); $('#project-modal-edit-teams').addClass('is-active')">
                                    <span class="icon is-small">
                                        <i class="fas fa-pencil-alt"></i>
                                    </span>
                                  </button>
                                <b>Teams assigned to this project: </b>
                                <span id="project-edit-teams"></span> </p>
                        </div>
                    </div>
                    <div class="columns is-centered is-flex">
                        <div class="column is-centered is-vcentered">
                            <p class="title is-horizontal is-5 has-text-centered">
                                <button class="button is-link is-outlined has-text-centered" onclick="$('#project-modal-edit').removeClass('is-active'); $('#project-modal-edit-tasks').addClass('is-active')">
                                    <span class="icon is-small">
                                        <i class="fas fa-pencil-alt"></i>
                                    </span>
                                  </button>
                                <b>Tasks assigned to this project: </b>
                                <span id="project-edit-tasks"></span> </p>
                        </div>
                    </div>
                    <div class="columns"><div class="column"></div></div>
                    <div class="columns has-text-centered">
                        <div class="column">
                            <button type="button" class="button is-success is-outlined" id="project-create-btn" onclick="submitEditProject()">
                                <span class="icon is-small">
                                  <i class="fas fa-check"></i>
                                </span>
                                <span>Save</span>
                              </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>

<section>
    <div class="modal" id="project-modal-edit-teams">
        <div class="modal-background"></div>
        <div class="modal-content">
            <div class="box">
                <div class="columns">
                    <div class="column">
                        <button class="button" onclick="$('.selected-item').removeClass('selected-item'); $('#project-modal-edit-teams').removeClass('is-active'); $('#project-modal-edit').addClass('is-active');">Back</button>
                    </div>
                </div>
                <div class="columns is-centered">
                    <p class="title has-text-centered">Assign teams to project</p>
                </div>
                <div class="level"></div>
                <div class="columns is-centered">
                    <button class="button is-success is-outlined" type="button" id="project-create-btn" onclick="editProjectTeams()">
                        <span class="icon is-small">
                          <i class="fas fa-check"></i>
                        </span>
                        <span>Save</span>
                      </button>
                </div>
                <div class="level"></div>
                <div class="columns is-multiline is-centered">
                    <% item = 0; %>
                    <% for(const obj of data.teams) { %>
                        <div class="column is-one-quarter project is-centered pan" onclick="selectedItem=this.id.substring(4,this.id.length); $('#pte-'+selectedItem).toggleClass('selected-item')"
                            id="pte-<%= item %>">
                            <div class="box project-box">
                                <p class="title has-text-centered has-text-light">
                                    <%= obj.Title%>
                                </p>
                            </div>
                        </div>
                    <% item++; %>
                    <% } %>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <form method="POST" id="form-update-project" action="/update-project" style="visibility:hidden;">
        <input type="text" name="title" id="project-update-title">
        <input type="text" name="description" id="project-update-description">
        <input type="text" name="teams" id="project-update-teams">
        <input type="text" name="tasks" id="project-update-tasks">
        <input type="text" name="projectId" id="project-update-projectId">
    </form>
    <div class="modal" id="project-modal-edit-tasks">
        <div class="modal-background"></div>
        <div class="modal-content">
            <div class="box">
                <div class="columns">
                    <div class="column">
                        <button class="button" onclick="$('.selected-item').removeClass('selected-item'); $('#project-modal-edit-tasks').removeClass('is-active'); $('#project-modal-edit').addClass('is-active');">Back</button>
                    </div>
                </div>
                <div class="columns is-centered">
                    <p class="title has-text-centered">Assign tasks to project</p>
                </div>
                <div class="level"></div>
                <div class="columns is-multiline is-centered">
                    <% item = 0; %>
                    <% for(const obj of data.tasks) { %>
                        <div class="column is-one-quarter project is-centered pan" onclick="selectedItem=this.id.substring(4,this.id.length); $('#pta-'+selectedItem).toggleClass('selected-item') "
                            id="pta-<%= item %>">
                            <div class="box project-box">
                                <p class="title has-text-centered has-text-light">
                                    <%= obj.Title%>
                                </p>
                            </div>
                        </div>
                    <% item++; %>
                    <% } %>
                </div>
                <div class="level"></div>
                <div class="columns is-centered">
                    <button class="button is-success is-outlined" type="button" id="project-edit-task-save" onclick="editProjectTasks()">
                        <span class="icon is-small">
                          <i class="fas fa-check"></i>
                        </span>
                        <span>Save</span>
                      </button>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="modal" id="task-modal">
        <div class="modal-background"></div>
        <div class="modal-content">
            <div class="box">
                <div class="columns">
                    <div class="column">
                        <button class="button" onclick="$('#task-modal').removeClass('is-active');">X</button>
                    </div>
                </div>
                <div class="level"></div>
                <div class="columns">
                    <div class="column has-text-centered">
                        <button id="delete-task" class="button is-danger is-outlined" onclick="deleteTask(selectedTask)">
                            <span class="icon is-small">
                                <i class="fas fa-times"></i>
                            </span>
                            <span>Delete</span>
                        </button>
                    </div>
                    <div class="column">
                        <p class="title has-text-centered" id="task-modal-title">testTitle</p>
                    </div>
                    <div class="column has-text-centered">
                        <button class="button is-link is-outlined" onclick="$('#task-modal').removeClass('is-active'); editTask();">
                            <span class="icon is-small">
                                <i class="fas fa-pencil-alt"></i>
                            </span>
                            <span>Edit</span>
                        </button>
                    </div>
                </div>
                <div class="level"></div>
                
                    <p class="subtitle has-text-centered"><b>Belongs to project:</b> <span id="task-modal-project">testName</span></p>
                    <p class="subtitle has-text-centered"><b>Asigned to:</b> <span id="task-modal-asignee">testUser</span></p>
                    <p class="subtitle has-text-centered"><b>Description: </b><span id="task-modal-description"></span></p>
                    <p class="subtitle has-text-centered"><b>Task status: </b><span id="task-modal-status"></span></p>
                    <p class="subtitle has-text-centered"><b>Created on:</b> <span id="task-modal-date-of-creation">testDate</span></p>
                    <p class="subtitle has-text-centered"><b>Created by:</b> <span id="task-modal-creator"></span></p>
                    <p class="subtitle has-text-centered"><b>Last updated on:</b> <span id="task-modal-last-update-date"></span></p>
                    <p class="subtitle has-text-centered"><b>Last changed by:</b> <span id="task-modal-last-update-user"></span></p>
                    <p class="subtitle has-text-centered"><b>Worklogs assigned to this task:</b> <span id="task-modal-worklogs"></span>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="modal" id="team-modal">
        <div class="modal-background"></div>
        <div class="modal-content">
            <div class="box">
                <div class="columns">
                    <div class="column">
                        <button class="button" onclick="$('#team-modal').removeClass('is-active');">X</button>
                    </div>
                </div>
                <div class="level"></div>
                <div class="columns">
                    <div class="column has-text-centered">
                        <button id="delete-task" class="button is-danger is-outlined">
                            <span class="icon is-small">
                                <i class="fas fa-times"></i>
                            </span>
                            <span>Delete</span>
                        </button>
                    </div>
                    <div class="column">
                        <p class="title has-text-centered" id="team-modal-title">testTitle</p>
                    </div>
                    <div class="column has-text-centered">
                        <button class="button is-link is-outlined" onclick="$('#team-modal').removeClass('is-active'); editTeam();">
                            <span class="icon is-small">
                                <i class="fas fa-pencil-alt"></i>
                            </span>
                            <span>Edit</span>
                        </button>
                    </div>
                </div>
                <div class="level"></div>
                    <p class="subtitle has-text-centered"><b>Created on:</b> <span id="team-modal-date-of-creation">testDate</span></p>
                    <p class="subtitle has-text-centered"><b>Created by:</b> <span id="team-modal-creator"></span></p>
                    <p class="subtitle has-text-centered"><b>Last updated on:</b> <span id="team-modal-last-update-date"></span></p>
                    <p class="subtitle has-text-centered"><b>Last changed by:</b> <span id="team-modal-last-update-user"></span></p>
                    <p class="subtitle has-text-centered"><b>Users in this team:</b> <span id="team-modal-users"></span></p>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="modal" id="user-modal">
        <div class="modal-background"></div>
        <div class="modal-content">
            <div class="box">
                <div class="columns">
                    <div class="column">
                        <button class="button" onclick="$('#user-modal').removeClass('is-active');">X</button>
                    </div>
                </div>
                <div class="level"></div>
                <div class="columns">
                    <div class="column has-text-centered">
                        <button id="delete-task" class="button is-danger is-outlined">
                            <span class="icon is-small">
                                <i class="fas fa-times"></i>
                            </span>
                            <span>Delete</span>
                        </button>
                    </div>
                    <div class="column">
                        <p class="title has-text-centered" id="user-modal-names">testNames</p>
                    </div>
                    <div class="column has-text-centered">
                        <button class="button is-link is-outlined" onclick="$('#user-modal').removeClass('is-active'); editUser();">
                            <span class="icon is-small">
                                <i class="fas fa-pencil-alt"></i>
                            </span>
                            <span>Edit</span>
                        </button>
                    </div>
                </div>
                <div class="level"></div>
                    <p class="subtitle has-text-centered"><b>Username:</b> <span id="user-modal-username">testDate</span></p>
                    <div class="columns is-centered is-flex">
                        <div class="column is-centered is-vcentered">
                            <p class="title is-horizontal is-5 has-text-centered">
                                <button class="button is-link is-outlined has-text-centered" onclick="showPassword(selectedUser)">
                                    <span class="icon is-small">
                                        <i class="fas fa-eye"></i>
                                    </span>
                                  </button>
                                <b>Password: </b>
                                <span id="user-modal-password"></span> </p>
                        </div>
                    </div>
                    <p class="subtitle has-text-centered"><b>First Name:</b> <span id="user-modal-first-name">testDate</span></p>
                    <p class="subtitle has-text-centered"><b>Last Name:</b> <span id="user-modal-last-name">testDate</span></p>
                    <p class="subtitle has-text-centered"><b>Created on:</b> <span id="user-modal-date-of-creation">testDate</span></p>
                    <p class="subtitle has-text-centered"><b>Created by:</b> <span id="user-modal-creator"></span></p>
                    <p class="subtitle has-text-centered"><b>Last updated on:</b> <span id="user-modal-last-update-date"></span></p>
                    <p class="subtitle has-text-centered"><b>Last changed by:</b> <span id="user-modal-last-update-user"></span></p>
                    <p class="subtitle has-text-centered"><b>Is admin:</b> <span id="user-modal-is-admin">testDate</span></p>
            </div>
        </div>
    </div>
</section>

<section>
    <form id="task-create-form" method="POST", action="/create-task">
        <input type="text" id="task-create-form-title" name="title"style="display: hidden;" >
        <input type="text" id="task-create-form-description" name="description"style="display: hidden;" >
        <input type="text" id="task-create-form-projectId" name="projectId"style="display: hidden;" >
        <input type="text" id="task-create-form-asigneeId" name="asigneeId"style="display: hidden;" >
        <input type="text" id="task-create-form-status" name="status"style="display: hidden;" >
        <input type="text" id="task-create-form-creatorId" name="creatorId"style="display: hidden;" >
    </form>
    <div class="modal" id="task-modal-create">
        <div class="modal-background"></div>
        <div class="modal-content">
            <div class="box">
                <div class="columns">
                    <div class="column">
                        <button class="button" onclick="$('#task-modal-create').removeClass('is-active'); selectedItem=-1">X</button>
                    </div>
                </div>
                <div class="columns">
                    <div class="column">
                        <p class="title has-text-centered">Create Task</p>
                    </div>
                </div>
                <div class="level"></div>
                <div class="columns is-centered">
                    <div class="field is-horizontal">
                        <div class="field-label is-normal">
                          <label class="label">Title: </label>
                        </div>
                        <div class="field-body">
                          <div class="field">
                            <p class="control">
                              <input class="input" id="task-create-title" type="text" placeholder="Task title">
                            </p>
                          </div>
                        </div>
                    </div>
                </div>
                <div class="level"></div>
                <div class="columns is-centered">
                    <div class="field is-horizontal">
                        <div class="field-label is-normal">
                          <label class="label">Description: </label>
                        </div>
                        <div class="field-body">
                          <div class="field">
                            <p class="control">
                              <input class="input" id="task-create-description" type="text" placeholder="Task description">
                            </p>
                          </div>
                        </div>
                    </div>
                </div>
                <div class="columns is-centered has-text-centered">
                    <div class="column is-centered has-text-centered">
                        <span class="label">Status:</span>
                        <div class="select" >
                            <select id="task-create-status">
                              <option value="1">Backlog</option>
                              <option value="2">In progress</option>
                              <option value="3">Done</option>
                            </select>
                          </div>
                    </div>  
                </div>
                <div class="columns">
                    <div class="column has-text-centered">
                        
                        <button class="button is-success is-outlined" onclick="$('#task-modal-create').removeClass('is-active'); $('#task-modal-create-select-project').addClass('is-active');">
                            <span class="icon is-small">
                                <i class="far fa-hand-pointer"></i>
                            </span>
                            <span>Select</span>
                        </button>
                        <p class="label is-inline is-normal">Belongs to project:  </p> <span id="task-create-modal-project"></span>
                    </div>
                </div>
                <div class="columns">
                    <div class="column has-text-centered">
                        
                        <button class="button is-success is-outlined" onclick="$('#task-modal-create').removeClass('is-active'); $('#task-modal-create-select-user').addClass('is-active');">
                            <span class="icon is-small">
                                <i class="far fa-hand-pointer"></i>
                            </span>
                            <span>Select</span>
                        </button>
                        <p class="label is-inline is-normal">Assign to user:  </p> <span id="task-create-modal-user"></span>
                    </div>
                </div>
                <div class="columns has-text-centered">
                    <div class="column">
                        <button class="button is-success" id="project-create-btn" onclick="submitCreateTask()">
                            <span class="icon is-small">
                              <i class="fas fa-check"></i>
                            </span>
                            <span>Save</span>
                          </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="modal" id="task-modal-create-select-project">
        <div class="modal-background"></div>
        <div class="modal-content">
            <div class="box">
                <div class="columns">
                    <div class="column">
                        <button class="button" onclick="$('#task-modal-create-select-project').removeClass('is-active'); $('#task-modal-create').addClass('is-active')">Back</button>
                    </div>
                </div>
                <div class="columns">
                    <div class="column has-text-centered">
                        <p class="title">Select a project to assign this task to: </p>
                    </div>
                </div>
                <div class="level"></div>
                <div class="columns is-multiline is-centered">
                    <% item = 0; %>
                    <% for(const obj of data.projects) { %>
                        <div class="column is-one-quarter project is-centered pan" onclick="selectedItem=this.id.substring(4,this.id.length); console.log(selectedItem); $('#task-create-modal-project').html(projects[selectedItem].Title); $('#task-modal-create-select-project').removeClass('is-active'); $('#task-modal-create').addClass('is-active')"
                            id="tap-<%= item %>">
                            <div class="box project-box">
                                <p class="title has-text-centered has-text-light">
                                    <%= obj.Title%>
                                </p>
                            </div>
                        </div>
                    <% item++; %>
                    <% } %>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="modal" id="task-modal-create-select-user">
        <div class="modal-background"></div>
        <div class="modal-content">
            <div class="box">
                <div class="columns">
                    <div class="column">
                        <button class="button" onclick="$('#task-modal-create-select-user').removeClass('is-active'); $('#task-modal-create').addClass('is-active')">Back</button>
                    </div>
                </div>
                <div class="columns">
                    <div class="column has-text-centered">
                        <p class="title">Select a project to assign this task to: </p>
                    </div>
                </div>
                <div class="level"></div>
                <div class="columns is-multiline is-centered">
                    <% item = 0; %>
                    <% for(const obj of data.users) { %>
                        <div class="column is-one-quarter project is-centered pan" onclick="selectedItem=this.id.substring(4,this.id.length); console.log(selectedItem); $('#task-create-modal-user').html(users[selectedItem].FirstName+' '+users[selectedItem].LastName); $('#task-modal-create-select-user').removeClass('is-active'); $('#task-modal-create').addClass('is-active')"
                            id="tap-<%= item %>">
                            <div class="box project-box">
                                <p class="title has-text-centered has-text-light">
                                    <%= obj.FirstName%> <%= obj.LastName%>
                                </p>
                            </div>
                        </div>
                    <% item++; %>
                    <% } %>
                </div>
            </div>
        </div>
    </div>
</section>

</body>
<script>
    var selectedItem, selectedProject, selectedTask, selectedTeam, selectedUser;

    let projects = <%- JSON.stringify(data.projects) %>;
    let users = <%- JSON.stringify(data.users) %>;
    let tasks = <%- JSON.stringify(data.tasks) %>;
    let teams = <%- JSON.stringify(data.teams) %>;
    let worklogs = <%- JSON.stringify(data.worklogs) %>;

    async function openProject(id) {
        let str="";

        $("#project-modal").addClass("is-active");
        $("#project-modal-title").html(projects[id].Title);
        $("#project-modal-description").html(projects[id].Description);
        $("#project-modal-date-of-creation").html(projects[id].DateOfCreation.substring(0, 10));
        $("#project-modal-last-update-date").html(projects[id].DateOfLastChange.substring(0, 10));

        const { CreatorId, LatestChangeUserId, Id } = projects.filter(project => project.Id === projects[id].Id)[0];
        let {FirstName, LastName } = users.filter(user => user.Id === CreatorId)[0];
        $("#project-modal-creator").html(FirstName+" "+LastName);

        let user = users.filter(user => user.Id === LatestChangeUserId)[0];
        $("#project-modal-last-update-user").html(user.FirstName+" "+user.LastName);

        const tasksOfProject = tasks.filter( task => task.ProjectId == projects[selectedProject].Id);
        console.log(tasksOfProject);
        for(const item of tasksOfProject) {
            str+=item.Title+", ";
        }
        str=str.substring(0,str.length-2);
        $("#project-modal-tasks").html(str);
        $("#project-edit-tasks").html(str);

        const results = await fetch(`/get-users-teams/${Id}`, {method: "GET"});
        let obj = await results.json();
        str="";
        for(const item of obj) {
            str+=item.Title+", ";
        }
        str=str.substring(0,str.length-2);
        $("#project-modal-teams").html(str);
        $("#project-edit-teams").html(str);
    }

    function createProject() {
        $("#project-modal-create").addClass("is-active");
    }

    function submitCreateTask() {
        const form = $("#task-create-form");
        var e = document.getElementById("task-create-status");
        var status = e.options[e.selectedIndex].value;
        const userId = users.filter(user=> user.FirstName==users[selectedItem].FirstName && user.LastName==users[selectedItem].LastName)[0].Id;
        const projectId = projects.filter(project=> project.Title == projects[selectedItem].Title)[0].Id;

        $("#task-create-form-title").val($("#task-create-title").val());
        $("#task-create-form-description").val($("#task-create-description").val());
        $("#task-create-form-status").val(status);
        $("#task-create-form-projectId").val(projectId);
        $("#task-create-form-asigneeId").val(userId);
        form.submit();
    }

    async function editProject() {
        $("#project-modal-create").removeClass("is-active");
        $("#project-modal-edit").addClass("is-active");
        $("#project-edit-title").val(projects[selectedProject].Title);
        $("#project-edit-description").val(projects[selectedProject].Description);

        const { Id } = projects.filter(project => project.Id === projects[selectedProject].Id)[0];

        const results = await fetch(`/get-users-teams/${Id}`, {method: "GET"});
        let obj = await results.json();

        let str="";

        for(const item of obj) {
            str+=item.Title+", ";
        }
        str=str.substring(0,str.length-2);

        $("#project-edit-teams").html(str);
    }

    function submitEditProject() {
        const newTitle = $("#project-edit-title").val();
        const newDesc = $("#project-edit-description").val();
        let  newTeams = $("#project-edit-teams").html();
        let newTasks = $("#project-edit-tasks").html();
        
        newTeams = newTeams.split(", ");
        newTasks = newTasks.split(", ");

        $("#project-update-title").val(newTitle);
        $("#project-update-description").val(newDesc);
        $("#project-update-teams").val(newTeams);
        $("#project-update-tasks").val(newTasks);
        $("#project-update-projectId").val(projects[selectedProject].Id);

        $("#form-update-project").submit();
    }

    function submitProject() {
        const title = $("#iproject-create-title").val();
        
        $("#project-create-btn")
    }

    function editProjectTeams() {
        var all = $(".selected-item");
        let ids = [];
        console.log(all);
        for(let item=0; item<all.length;item++) {
            if(all[item].id.substr(0,4)=="pte-")
                ids.push(parseInt(all[item].id.substring(4,all[item].id.length)));
        }

        let str="";
        for(const item of ids) {
            str+=teams[item].Title+", ";
        }
        str=str.substring(0,str.length-2);

        $("#project-edit-teams").html(str);
        $("#project-modal-edit-teams").removeClass("is-active");
        $("#project-modal-edit").addClass("is-active");
    }

    function editProjectTasks() {
        var all = $(".selected-item");
        let ids = [];
        console.log(all);
        for(let item=0; item<all.length;item++) {
            if(all[item].id.substr(0,4)=="pta-")
                ids.push(parseInt(all[item].id.substring(4,all[item].id.length)));
        }

        let str="";
        for(const item of ids) {
            str+=tasks[item].Title+", ";
        }
        str=str.substring(0,str.length-2);
        $("#project-edit-tasks").html(str)
        $("#project-modal-edit-tasks").removeClass("is-active");
        $("#project-modal-edit").addClass("is-active");
    }

    async function openTask(id) {
        $("#task-modal").addClass("is-active");
        const asignee = users.filter(user=>user.Id == tasks[id].AsigneeId)[0];
        const creator = users.filter(user=>user.Id == tasks[id].CreatorId)[0];
        const lastUpdateUser = users.filter(user=>user.Id == tasks[id].LatestChangeUserId)[0];
        const worklogsOfTask = worklogs.filter(worklog => worklog.TaskId == tasks[id].Id);
        // FINISH WORKLOGS

        console.log();
        $("#task-modal-title").html(tasks[id].Title);
        $("#task-modal-project").html(projects.filter(project=> project.Id == tasks[id].ProjectId)[0].Title);
        $("#task-modal-asignee").html(asignee.FirstName+" "+asignee.LastName);
        $("#task-modal-description").html(tasks[id].Description);
        $("#task-modal-status").html(convertStatusToString(tasks[id].Status));
        $("#task-modal-date-of-creation").html(tasks[id].DateOfCreation.substring(0,10));
        $("#task-modal-creator").html(creator.FirstName+" "+creator.LastName);
        $("#task-modal-last-update-date").html(tasks[id].DateOfLastChange.substring(0,10));
        $("#task-modal-last-update-user").html(lastUpdateUser.FirstName+" "+lastUpdateUser.LastName);
        $("#task-modal-worklogs").html();
    }

    async function openTeam(id) {


        $("#team-modal").addClass("is-active");
        const creator = users.filter(user=>user.Id == teams[id].CreatorId)[0];
        const lastUpdateUser = users.filter(user=>user.Id == teams[id].LatestChangeUserId)[0];
        const usersInTeam = await fetch(`/get-team-users/${teams[id].Id}`, {method:"GET"});
        const obj = await usersInTeam.json();
        let str="";
        
        for(const item of obj) {
            console.log(item);
            str+=item[0].FirstName+" "+item[0].LastName+", ";
        }
        str=str.substring(0,str.length-2);

        console.log(obj);
        $("#team-modal-title").html(teams[id].Title)
        $("#team-modal-date-of-creation").html(teams[id].DateOfCreation.substring(0,10));
        $("#team-modal-creator").html(creator.FirstName+" "+creator.LastName);
        $("#team-modal-last-update-date").html(teams[id].DateOfLastChange.substring(0,10));
        $("#team-modal-last-update-user").html(lastUpdateUser.FirstName+" "+lastUpdateUser.LastName);
        $("#team-modal-users").html(str);
    }

    async function openUser(id) {
        $("#user-modal").addClass("is-active");
        const creator = users.filter(user=>user.Id == users[id].CreatorId)[0];
        const lastUpdateUser = users.filter(user=>user.Id == users[id].LatestChangeUserId)[0];
        let str="*";

        $("#user-modal-names").html(users[id].FirstName+" "+users[id].LastName);
        $("#user-modal-username").html(users[id].Username);
        $("#user-modal-first-name").html(users[id].FirstName);
        $("#user-modal-last-name").html(users[id].LastName);
        $("#user-modal-password").html(str.repeat(users[id].Password.length));
        $("#user-modal-date-of-creation").html(users[id].DateOfCreation.substring(0,10));
        $("#user-modal-creator").html(creator.FirstName+" "+creator.LastName);
        $("#user-modal-last-update-date").html(users[id].DateOfLastChange.substring(0,10));
        $("#user-modal-last-update-user").html(lastUpdateUser.FirstName+" "+lastUpdateUser.LastName);
        $("#user-modal-is-admin").html(users[id].IsAdmin);
    }

    function createTask() {
        $("#task-modal-create").addClass("is-active");
    }

    async function deleteTask(id) {
        id=parseInt(id.substr(3,id.length));
        
        id=tasks[id].Id;
        console.log(id);
        await fetch(`/delete-task/${id}`, { method:"POST" });
        window.location.reload();
    }

    function showPassword(id) {
        id = id.substring(2,id.length);
        $("#user-modal-password").html(users[id].Password);
    }

    function convertStatusToString(status) {
        switch(status) {
            case 1: return "Backlog"; break;
            case 2: return "In progress"; break;
            case 3: return "Done"; break;
        }
    }

    const deleteProject = $("#delete-project");
    const delButton = document.querySelector("#deleteButton");

    delButton.addEventListener("click", (e) => {
        e.preventDefault();
        const title = $("#project-modal-title").html();
        const { Id } = projects.filter(project => project.Title === title)[0];
        fetch(`/delete-project/${Id}`, { method: "POST" });
        location.reload();
    });

    const prjCrtBtn = document.querySelector("#project-create-btn");
    const prjCrtTitle = $("#project-create-title");
    const prjCrtDescription = $("#project-create-description");
    prjCrtBtn.addEventListener("click",e=>{
        e.preventDefault();
        const title = prjCrtTitle.val()
        const description = prjCrtDescription.val();

        fetch(`/create-project/${title}/${description}`, { method: "POST"});
        location.reload();
    });

    
</script>

</html>