<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Dashboard</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <link rel="stylesheet" href="styles/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poiret+One&display=swap" rel="stylesheet">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>var selectedItem, selectedProject=-1, selectedTask, selectedTeam, selectedUser, selectedWorklog;</script>
</head>

<body onload="">

    <nav class="navbar is-mobile" id="navBar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="/">
                <img src="/photos/logo_white.png" alt="Invictus"
                    width="112" height="28">
            </a>
        </div>
        
        <div class="navbar-end">
            <div class="navbar-item">
                <form method="post" action="/logout"><button class="button is-white is-outlined">Logout</button>
                </form>
            </div>
        </div>

    </nav>
    <hr id="navBarHr" class="is-mobile">

    <div class="columns is-multiline is-centered ">
        <div class="column is-full is-mobile"></div>
        <div class="column is-narrow is-mobile">
            <!--<hr class="titleHr">-->
            <p id="wb" class="title is-1 has-text-centered is-mobile">
                <span id="name">Welcome back</span> <b>
                    <%= data.firstName %>
                        <%= data.lastName %>
                </b>
            </p>
            <p class="subtitle has-text-centered is-mobile">To invictus, lets get you caught up, shall we?</p>
            <!--<hr class="titleHr is-mobile">-->
        </div>
    </div>

    <div class="level"></div>

    <div class="columns is-4" id="dashboard-2">
        <div class="column ">
            <a href="#title-projects">
                <div class="box pan-stat ">
                    <p class="title is-3 has-text-centered pan-item">
                        <span class="icon ">
                            <span class="icon has-text-light is-small">
                                <i class="fas fa-project-diagram "></i>
                            </span>
                        </span>
                        <span class="has-text-light">Projects: <span class="counter">
                                <%= data.projects.length %>
                            </span></span>
                    </p>
                </div>
            </a>
        </div>
        <div class="column">
            <a href="#title-teams">
                <div class="box pan-stat">
                    <p class="title is-3 has-text-centered pan-item">
                        <span class="icon ">
                            <span class="icon has-text-light is-small">
                                <i class="fas fa-users"></i>
                            </span>
                        </span>
                        <span class="has-text-light">Teams: <span class="counter">
                                <%= data.teams.length %>
                            </span></span>
                    </p>
                </div>
            </a>
        </div>

        <div class="column">
            <a href="#title-tasks">
                <div class="box pan-stat">
                    <p class="title is-3 has-text-centered pan-item">
                        <span class="icon ">
                            <span class="icon has-text-light is-small">
                                <i class="fas fa-tasks"></i>
                            </span>
                        </span>
                        <span class="has-text-light">Tasks: <span class="counter">
                                <%= data.tasks.length %>
                            </span></span>
                    </p>
                </div>
            </a>
        </div>
        <div class="column">
            <a href="#title-worklogs">
                <div class="box pan-stat">
                    <p class="title is-3 has-text-centered pan-item">
                        <span class="icon ">
                            <span class="icon has-text-light is-small">
                                <i class="far fa-clock"></i>
                            </span>
                        </span>
                        <span class="has-text-light">Worklogs: <span class="counter">
                                <%= data.worklogs.length %>
                            </span></span>
                    </p>
                </div>
            </a>
        </div>
    </div>

    <section id="projects" class="section ">
        <div class="box ">
            <div class="columns is-multiline has-text-centered">
                <div class="column is-full has-text-centered">
                    <p class="pan-title title is-1 has-text-centered is-inline" id="title-projects">Projects</p> 
                    <button class="button is-success add-btn" onclick="createProject()">
                        <span class="icon is-small">
                            <i class="fas fa-plus"></i>
                        </span>
                        <span>Add</span>
                    </button>
                </div>
            </div>
            <div class="columns is-multiline is-centered ">
                <% let item=0 %>
                    <% for(const obj of data.projects) {%>
                        <div class="column is-one-quarter project is-centered pan" onclick="selectedProject=this.id; openProject(this.id);"
                            id="<%= item %>">
                            <div class="box project-box">
                                <p class="title has-text-centered has-text-light">
                                    <%= obj.Title%>
                                </p>
                            </div>
                        </div>
                        <% item++ %>
                    <% } %>
            </div>
        </div>
    </section>

    <section id="projects" class="section" id="tasks-pan">
        <div class="box">
            <div class="columns is-multiline has-text-centered">
                <div class="column is-full has-text-centered">
                    <p class="pan-title title is-1 has-text-centered is-inline" id="title-tasks">Tasks</p>
                    <button class="button is-success add-btn" onclick="createTask()">
                        <span class="icon is-small">
                            <i class="fas fa-plus"></i>
                        </span>
                        <span>Add</span>
                    </button>
                </div>
            </div>
            <div class="columns is-multiline is-centered ">
                <% item=0 %>
                    <% for(const obj of data.tasks) {%>
                        <div class="column is-one-quarter project is-centered pan" onclick="selectedTask=this.id; openTask(this.id.substring(3,this.id.length)); "
                            id="ta-<%= item %>">
                            <div class="box project-box">
                                <p class="title has-text-centered has-text-light">
                                    <%= obj.Title%>
                                </p>
                            </div>
                        </div>
                        <% item++ %>
                    <% } %>
            </div>
        </div>
    </section>

    <section id="projects" class="section ">
        <div class="box">
            <div class="columns is-multiline has-text-centered">
                <div class="column is-full has-text-centered">
                    <p class="pan-title title is-1 has-text-centered is-inline" id="title-teams">Teams</p>
                </div>
            </div>
            <div class="columns is-multiline is-centered ">
                <% item=0 %>
                    <% for(const obj of data.teams) {%>
                        <div class="column is-one-quarter project is-centered pan" onclick="selectedTeam=this.id; openTeam(this.id.substring(3,this.id.length)); "
                            id="te-<%= item %>">
                            <div class="box project-box">
                                <p class="title has-text-centered has-text-light">
                                    <%= obj.Title%>
                                </p>
                            </div>
                        </div>
                        <% item++ %>
                    <% } %>
            </div>
        </div>
    </section>

    <section>
        <div class="modal" id="project-modal">
            <div class="modal-background"></div>
            <div class="modal-content">
                <div class="box">
                    <div class="columns">
                        <div class="column">
                            <button class="button" onclick='$("#project-modal").removeClass("is-active");'>X</button>
                        </div>
                    </div>

                    <div id="project-perms-true"></div>
                    <div id="project-perms-false"></div>

                    <p class="subtitle has-text-centered" id="project-modal-description">testDescription</p>
                    <p class="subtitle has-text-centered"><b>Created on:</b> <span id="project-modal-date-of-creation">testDate</span></p>
                    <p class="subtitle has-text-centered"><b>Created by:</b> <span id="project-modal-creator"></span></p>
                    <p class="subtitle has-text-centered"><b>Last updated on:</b> <span id="project-modal-last-update-date"></span></p>
                    <p class="subtitle has-text-centered"><b>Last changed by:</b> <span id="project-modal-last-update-user"></span></p>
                    <p class="subtitle has-text-centered"><b>Teams assigned to this project:</b> <span id="project-modal-teams"></span>
                    <p class="subtitle has-text-centered"><b>Tasks assigned to this project:</b> <span id="project-modal-tasks"></span>
                </div>
            </div>
        </div>
    </section>

    <section>
        <form method="post" action="/create-project">
        <div class="modal" id="project-modal-create">
            <div class="modal-background"></div>
            <div class="modal-content">
                <div class="box">
                    <div class="columns">
                        <div class="column">
                            <button class="button"  type="button" onclick='$("#project-modal-create").removeClass("is-active");'>X</button>
                        </div>
                    </div>
                    <div class="columns">
                        <div class="column">
                            <p class="title has-text-centered">Create new project</p>
                        </div>
                    </div>
                    <div class="columns">
                        <div class="column"></div>
                    </div>
                    <div class="columns is-centered">
                        <div class="field is-horizontal">
                            <div class="field-label is-normal">
                              <label class="label">Title: </label>
                            </div>
                            <div class="field-body">
                              <div class="field">
                                <p class="control">
                                  <input class="input" name="title" id="project-create-title" type="text" placeholder="Project title">
                                </p>
                              </div>
                            </div>
                        </div>
                    </div>
                    <div class="columns"><div class="column"></div></div>
                    <div class="columns is-centered">
                        <div class="field is-horizontal">
                            <div class="field-label is-normal">
                              <label class="label">Description: </label>
                            </div>
                            <div class="field-body">
                              <div class="field">
                                <p class="control">
                                  <input class="input" name="description" id="project-create-description" type="text" placeholder="Project description">
                                </p>
                              </div>
                            </div>
                        </div>
                    </div>
                    <div class="columns"><div class="column"></div></div>
                    <div class="columns has-text-centered">
                        <div class="column">
                            <button class="button is-success" id="project-create-btn" onclick="">
                                <span class="icon is-small">
                                  <i class="fas fa-check"></i>
                                </span>
                                <span>Save</span>
                              </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    </section>

    <section>
        <form method="POST" id="form-update-project" action="/update-project" style="visibility:hidden;">
            <input type="text" name="title" id="project-update-title">
            <input type="text" name="description" id="project-update-description">
            <input type="text" name="teams" id="project-update-teams">
            <input type="text" name="tasks" id="project-update-tasks">
            <input type="text" name="projectId" id="project-update-projectId">
        </form>
        <div class="modal" id="project-modal-edit">
            <div class="modal-background"></div>
            <div class="modal-content">
                <div class="box">
                    <div class="columns">
                        <div class="column">
                            <button class="button" onclick='$("#project-modal-edit").removeClass("is-active"); $("#project-modal").addClass("is-active");'>Back</button>
                        </div>
                    </div>
                    <div class="columns">
                        <div class="column"><p class="title has-text-centered">Edit project</p></div>
                    </div>
                    <div class="columns">
                        <div class="column"></div>
                    </div>
                    <div class="columns is-centered">
                        <div class="field is-horizontal">
                            <div class="field-label is-normal">
                              <label class="label">Title: </label>
                            </div>
                            <div class="field-body">
                              <div class="field">
                                <p class="control">
                                  <input class="input" id="project-edit-title" type="text" placeholder="Project title">
                                </p>
                              </div>
                            </div>
                        </div>
                    </div>
                    <div class="columns"><div class="column"></div></div>
                    <div class="columns is-centered">
                        <div class="field is-horizontal">
                            <div class="field-label is-normal">
                              <label class="label">Description: </label>
                            </div>
                            <div class="field-body">
                              <div class="field">
                                <p class="control">
                                  <input class="input" id="project-edit-description" type="text" placeholder="Project description">
                                </p>
                              </div>
                            </div>
                        </div>
                    </div>
                    <div class="columns is-centered is-flex">
                        <div class="column is-centered is-vcentered">
                            <p class="title is-horizontal is-5 has-text-centered">
                                <button class="button is-link is-outlined has-text-centered" onclick="$('#project-modal-edit').removeClass('is-active'); $('#project-modal-edit-teams').addClass('is-active')">
                                    <span class="icon is-small">
                                        <i class="fas fa-pencil-alt"></i>
                                    </span>
                                  </button>
                                <b>Teams assigned to this project: </b>
                                <span id="project-edit-teams"></span> </p>
                        </div>
                    </div>
                    <div class="columns is-centered is-flex">
                        <div class="column is-centered is-vcentered">
                            <p class="title is-horizontal is-5 has-text-centered">
                                <button class="button is-link is-outlined has-text-centered" onclick="$('#project-modal-edit').removeClass('is-active'); $('#project-modal-edit-tasks').addClass('is-active')">
                                    <span class="icon is-small">
                                        <i class="fas fa-pencil-alt"></i>
                                    </span>
                                  </button>
                                <b>Tasks assigned to this project: </b>
                                <span id="project-edit-tasks"></span> </p>
                        </div>
                    </div>
                    <div class="columns"><div class="column"></div></div>
                    <div class="columns has-text-centered">
                        <div class="column">
                            <button type="button" class="button is-success is-outlined" id="project-create-btn" onclick="submitEditProject()">
                                <span class="icon is-small">
                                  <i class="fas fa-check"></i>
                                </span>
                                <span>Save</span>
                              </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>

<section>
    <div class="modal" id="project-modal-edit-teams">
        <div class="modal-background"></div>
        <div class="modal-content">
            <div class="box">
                <div class="columns">
                    <div class="column">
                        <button class="button" onclick="$('.selected-item').removeClass('selected-item'); $('#project-modal-edit-teams').removeClass('is-active'); $('#project-modal-edit').addClass('is-active');">Back</button>
                    </div>
                </div>
                <div class="columns is-centered">
                    <p class="title has-text-centered">Assign teams to project</p>
                </div>
                <div class="level"></div>
                <div class="columns is-centered">
                    <button class="button is-success is-outlined" type="button" id="project-create-btn" onclick="editProjectTeams()">
                        <span class="icon is-small">
                          <i class="fas fa-check"></i>
                        </span>
                        <span>Save</span>
                      </button>
                </div>
                <div class="level"></div>
                <div class="columns is-multiline is-centered">
                    <% item = 0; %>
                    <% for(const obj of data.allTeams) { %>
                        <div class="column is-half project is-centered pan" onclick="selectedItem=this.id.substring(4,this.id.length); $('#pte-'+selectedItem).toggleClass('selected-item')"
                            id="pte-<%= item %>">
                            <div class="box project-box">
                                <p class="title has-text-centered has-text-light">
                                    <%= obj.Title%>
                                </p>
                            </div>
                        </div>
                    <% item++; %>
                    <% } %>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="modal" id="project-modal-edit-tasks">
        <div class="modal-background"></div>
        <div class="modal-content">
            <div class="box">
                <div class="columns">
                    <div class="column">
                        <button class="button" onclick="$('.selected-item').removeClass('selected-item'); $('#project-modal-edit-tasks').removeClass('is-active'); $('#project-modal-edit').addClass('is-active');">Back</button>
                    </div>
                </div>
                <div class="columns is-centered">
                    <p class="title has-text-centered">Assign tasks to project</p>
                </div>
                <div class="level"></div>
                <div class="columns is-multiline is-centered">
                    <% item = 0; %>
                    <% for(const obj of data.allTasks) { %>
                        <div class="column is-half project is-centered pan" onclick="selectedItem=this.id.substring(4,this.id.length); $('#pta-'+selectedItem).toggleClass('selected-item') "
                            id="pta-<%= item %>">
                            <div class="box project-box">
                                <p class="title has-text-centered has-text-light">
                                    <%= obj.Title%>
                                </p>
                            </div>
                        </div>
                    <% item++; %>
                    <% } %>
                </div>
                <div class="level"></div>
                <div class="columns is-centered">
                    <button class="button is-success is-outlined" type="button" id="project-edit-task-save" onclick="editProjectTasks()">
                        <span class="icon is-small">
                          <i class="fas fa-check"></i>
                        </span>
                        <span>Save</span>
                      </button>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="modal" id="task-modal">
        <div class="modal-background"></div>
        <div class="modal-content">
            <div class="box">
                <div class="columns">
                    <div class="column">
                        <button class="button" onclick="$('#task-modal').removeClass('is-active');">X</button>
                    </div>
                </div>
                <div class="level"></div>

                <div id="task-perms-true"></div>
                <div id="task-perms-false"></div>
                <!--<div class="columns">
                    <div class="column has-text-centered">
                        <button id="delete-task" class="button is-danger is-outlined" onclick="deleteTask(selectedTask)">
                            <span class="icon is-small">
                                <i class="fas fa-times"></i>
                            </span>
                            <span>Delete</span>
                        </button>
                    </div>
                    <div class="column">
                        <p class="title has-text-centered" id="task-modal-title">testTitle</p>
                    </div>
                    <div class="column has-text-centered">
                        <button class="button is-link is-outlined" onclick="$('#task-modal').removeClass('is-active'); editTask();">
                            <span class="icon is-small">
                                <i class="fas fa-pencil-alt"></i>
                            </span>
                            <span>Edit</span>
                        </button>
                    </div>
                </div>
            
                <div class="column">
                    <p class="title has-text-centered" id="task-modal-title">testTitle</p>
                </div>
            -->
                <div class="level"></div>
                
                    <p class="subtitle has-text-centered"><b>Belongs to project:</b> <span id="task-modal-project">testName</span></p>
                    <p class="subtitle has-text-centered"><b>Asigned to:</b> <span id="task-modal-asignee">testUser</span></p>
                    <p class="subtitle has-text-centered"><b>Description: </b><span id="task-modal-description"></span></p>
                    <p class="subtitle has-text-centered"><b>Task status: </b><span id="task-modal-status"></span></p>
                    <p class="subtitle has-text-centered"><b>Created on:</b> <span id="task-modal-date-of-creation">testDate</span></p>
                    <p class="subtitle has-text-centered"><b>Created by:</b> <span id="task-modal-creator"></span></p>
                    <p class="subtitle has-text-centered"><b>Last updated on:</b> <span id="task-modal-last-update-date"></span></p>
                    <p class="subtitle has-text-centered"><b>Last changed by:</b> <span id="task-modal-last-update-user"></span></p>
                    <p class="subtitle has-text-centered"><b>Worklogs assigned to this task:</b>
                    <div class="columns has-text-centered">
                        <div class="column">
                            <button class="button is-success add-btn" onclick="$('#task-modal').removeClass('is-active'); $('#worklog-modal-create').addClass('is-active')">
                                <span class="icon is-small">
                                    <i class="fas fa-plus"></i>
                                </span>
                                <span>Add</span>
                            </button>
                        </div>
                    </div>
                    <div class="columns is-multiline" id="task-modal-worklogs">

                    </div>
            </div>
        </div>
    </div>
</section>

<section>
    <form id="task-create-form" method="POST", action="/create-task" style="visibility:hidden;">
        <input type="text" id="task-create-form-title" name="title" >
        <input type="text" id="task-create-form-description" name="description">
        <input type="text" id="task-create-form-projectId" name="projectId">
        <input type="text" id="task-create-form-asigneeId" name="asigneeId" >
        <input type="text" id="task-create-form-status" name="status" >
        <input type="text" id="task-create-form-creatorId" name="creatorId" >
    </form>
    <div class="modal" id="task-modal-create">
        <div class="modal-background"></div>
        <div class="modal-content">
            <div class="box">
                <div class="columns">
                    <div class="column">
                        <button class="button" onclick="$('#task-modal-create').removeClass('is-active'); selectedItem=-1">X</button>
                    </div>
                </div>
                <div class="columns">
                    <div class="column">
                        <p class="title has-text-centered">Create Task</p>
                    </div>
                </div>
                <div class="level"></div>
                <div class="columns is-centered">
                    <div class="field is-horizontal">
                        <div class="field-label is-normal">
                          <label class="label">Title: </label>
                        </div>
                        <div class="field-body">
                          <div class="field">
                            <p class="control">
                              <input class="input" id="task-create-title" type="text" placeholder="Task title">
                            </p>
                          </div>
                        </div>
                    </div>
                </div>
                <div class="level"></div>
                <div class="columns is-centered">
                    <div class="field is-horizontal">
                        <div class="field-label is-normal">
                          <label class="label">Description: </label>
                        </div>
                        <div class="field-body">
                          <div class="field">
                            <p class="control">
                              <input class="input" id="task-create-description" type="text" placeholder="Task description">
                            </p>
                          </div>
                        </div>
                    </div>
                </div>
                <div class="columns is-centered has-text-centered">
                    <div class="column is-centered has-text-centered">
                        <span class="label">Status:</span>
                        <div class="select" >
                            <select id="task-create-status">
                              <option value="1">Backlog</option>
                              <option value="2">In progress</option>
                              <option value="3">Done</option>
                            </select>
                          </div>
                    </div>  
                </div>
                <div class="columns">
                    <div class="column has-text-centered">
                        
                        <button class="button is-success is-outlined" onclick="$('#task-modal-create').removeClass('is-active'); $('#task-modal-create-select-project').addClass('is-active');">
                            <span class="icon is-small">
                                <i class="far fa-hand-pointer"></i>
                            </span>
                            <span>Select</span>
                        </button>
                        <p class="label is-inline is-normal">Belongs to project:  </p> <span id="task-create-modal-project"></span>
                    </div>
                </div>
                <div class="columns">
                    <div class="column has-text-centered">
                        
                        <button class="button is-success is-outlined" onclick="$('#task-modal-create').removeClass('is-active'); $('#task-modal-create-select-user').addClass('is-active');">
                            <span class="icon is-small">
                                <i class="far fa-hand-pointer"></i>
                            </span>
                            <span>Select</span>
                        </button>
                        <p class="label is-inline is-normal">Assign to user:  </p> <span id="task-create-modal-user"></span>
                    </div>
                </div>
                <div class="columns has-text-centered">
                    <div class="column">
                        <button class="button is-success" id="project-create-btn" onclick="submitCreateTask()">
                            <span class="icon is-small">
                              <i class="fas fa-check"></i>
                            </span>
                            <span>Save</span>
                          </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="modal" id="task-modal-create-select-project">
        <div class="modal-background"></div>
        <div class="modal-content">
            <div class="box">
                <div class="columns">
                    <div class="column">
                        <button class="button" onclick="$('#task-modal-create-select-project').removeClass('is-active'); $('#task-modal-create').addClass('is-active')">Back</button>
                    </div>
                </div>
                <div class="columns">
                    <div class="column has-text-centered">
                        <p class="title">Select a project to assign this task to: </p>
                    </div>
                </div>
                <div class="level"></div>
                <div class="columns is-multiline is-centered">
                    <% item = 0; %>
                    <% for(const obj of data.projects) { %>
                        <div class="column is-half project is-centered pan" onclick="selectedItem=this.id.substring(4,this.id.length); console.log(selectedItem); $('#task-create-modal-project').html(projects[selectedItem].Title); $('#task-modal-create-select-project').removeClass('is-active'); $('#task-modal-create').addClass('is-active')"
                            id="tap-<%= item %>">
                            <div class="box project-box">
                                <p class="title has-text-centered has-text-light">
                                    <%= obj.Title%>
                                </p>
                            </div>
                        </div>
                    <% item++; %>
                    <% } %>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="modal" id="task-modal-create-select-user">
        <div class="modal-background"></div>
        <div class="modal-content">
            <div class="box">
                <div class="columns">
                    <div class="column">
                        <button class="button" onclick="$('#task-modal-create-select-user').removeClass('is-active'); $('#task-modal-create').addClass('is-active')">Back</button>
                    </div>
                </div>
                <div class="columns">
                    <div class="column has-text-centered">
                        <p class="title">Select a project to assign this task to: </p>
                    </div>
                </div>
                <div class="level"></div>
                <div class="columns is-multiline is-centered">
                    <% item = 1; %>
                    <% for(const obj of data.users) { %>
                        <% if(!obj.IsDeleted) { %>
                        <div class="column is-half project is-centered pan" onclick="selectedItem=this.id.substring(4,this.id.length); console.log(selectedItem); $('#task-create-modal-user').html(users[selectedItem].FirstName+' '+users[selectedItem].LastName); $('#task-modal-create-select-user').removeClass('is-active'); $('#task-modal-create').addClass('is-active')"
                            id="tap-<%= item %>">
                            <div class="box project-box">
                                <p class="title has-text-centered has-text-light">
                                    <%= obj.FirstName%> <%= obj.LastName%>
                                </p>
                            </div>
                        </div>
                    <% item++; %>
                    <% } %>
                    <% } %>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <form id="task-update-form" method="POST", action="/update-task" style="visibility:hidden;">
        <input type="text" id="task-update-form-title" name="title" >
        <input type="text" id="task-update-form-description" name="description">
        <input type="text" id="task-update-form-projectId" name="projectId">
        <input type="text" id="task-update-form-asigneeId" name="asigneeId" >
        <input type="text" id="task-update-form-status" name="status" >
        <input type="text" id="task-update-task-id" name="taskId" >
    </form>
    <div class="modal" id="task-modal-update">
        <div class="modal-background"></div>
        <div class="modal-content">
            <div class="box">
                <div class="columns">
                    <div class="column">
                        <button class="button" onclick="$('#task-modal-update').removeClass('is-active'); selectedItem=-1; $('#task-modal').addClass('is-active')">Back</button>
                    </div>
                </div>
                <div class="columns">
                    <div class="column">
                        <p class="title has-text-centered">Update Task</p>
                    </div>
                </div>
                <div class="level"></div>
                <div class="columns is-centered">
                    <div class="field is-horizontal">
                        <div class="field-label is-normal">
                          <label class="label">Title: </label>
                        </div>
                        <div class="field-body">
                          <div class="field">
                            <p class="control">
                              <input class="input" id="task-update-title" type="text" placeholder="Task title">
                            </p>
                          </div>
                        </div>
                    </div>
                </div>
                <div class="level"></div>
                <div class="columns is-centered">
                    <div class="field is-horizontal">
                        <div class="field-label is-normal">
                          <label class="label">Description: </label>
                        </div>
                        <div class="field-body">
                          <div class="field">
                            <p class="control">
                              <input class="input" id="task-update-description" type="text" placeholder="Task description">
                            </p>
                          </div>
                        </div>
                    </div>
                </div>
                <div class="columns is-centered has-text-centered">
                    <div class="column is-centered has-text-centered">
                        <span class="label">Status:</span>
                        <div class="select" >
                            <select id="task-update-status">
                              <option value="Backlog">Backlog</option>
                              <option value="In progress">In progress</option>
                              <option value="Done">Done</option>
                            </select>
                          </div>
                    </div>  
                </div>
                <div class="columns">
                    <div class="column has-text-centered">
                        
                        <button class="button is-link is-outlined" onclick="$('#task-modal-update').removeClass('is-active'); $('#task-modal-update-select-project').addClass('is-active');">
                            <span class="icon is-small">
                                <i class="fas fa-pencil-alt"></i>
                            </span>

                        </button>
                        <p class="label is-inline is-normal">Belongs to project:  </p> <span id="task-update-modal-project"></span>
                    </div>
                </div>
                <div class="columns">
                    <div class="column has-text-centered">
                        
                        <button class="button is-link is-outlined" onclick="$('#task-modal-update').removeClass('is-active'); $('#task-modal-update-select-user').addClass('is-active');">
                            <span class="icon is-small">
                                <i class="fas fa-pencil-alt"></i>
                            </span>

                        </button>
                        <p class="label is-inline is-normal">Assign to user:  </p> <span id="task-update-modal-user"></span>
                    </div>
                </div>
                <div class="columns has-text-centered">
                    <div class="column">
                        <button class="button is-success" id="project-create-btn" onclick="submitEditTask()">
                            <span class="icon is-small">
                              <i class="fas fa-check"></i>
                            </span>
                            <span>Save</span>
                          </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="modal" id="task-modal-update-select-user">
        <div class="modal-background"></div>
        <div class="modal-content">
            <div class="box">
                <div class="columns">
                    <div class="column">
                        <button class="button" onclick="$('#task-modal-update-select-user').removeClass('is-active'); $('#task-modal-update').addClass('is-active')">Back</button>
                    </div>
                </div>
                <div class="columns">
                    <div class="column has-text-centered">
                        <p class="title">Select a user to assign this task to: </p>
                    </div>
                </div>
                <div class="level"></div>
                <div class="columns is-multiline is-centered">
                    <% item = 1; %>
                    <% for(const obj of data.users) { %>
                        <% if(!obj.IsDeleted) { %>
                        <div class="column is-half project is-centered pan" onclick="selectedItem=this.id.substring(4,this.id.length); console.log(selectedItem); $('#task-update-modal-user').html(users[selectedItem].FirstName+' '+users[selectedItem].LastName); $('#task-modal-update-select-user').removeClass('is-active'); $('#task-modal-update').addClass('is-active')"
                            id="tap-<%= item %>">
                            <div class="box project-box">
                                <p class="title has-text-centered has-text-light">
                                    <%= obj.FirstName%> <%= obj.LastName%>
                                </p>
                            </div>
                        </div>
                    <% item++; %>
                    <% } %>
                    <% } %>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="modal" id="task-modal-update-select-project">
        <div class="modal-background"></div>
        <div class="modal-content">
            <div class="box">
                <div class="columns">
                    <div class="column">
                        <button class="button" onclick="$('#task-modal-update-select-project').removeClass('is-active'); $('#task-modal-update').addClass('is-active')">Back</button>
                    </div>
                </div>
                <div class="columns">
                    <div class="column has-text-centered">
                        <p class="title">Select a project to assign this task to: </p>
                    </div>
                </div>
                <div class="level"></div>
                <div class="columns is-multiline is-centered">
                    <% item = 0; %>
                    <% for(const obj of data.projects) { %>
                        <div class="column is-half project is-centered pan" onclick="selectedItem=this.id.substring(4,this.id.length); console.log(selectedItem); $('#task-update-modal-project').html(projects[selectedItem].Title); $('#task-modal-update-select-project').removeClass('is-active'); $('#task-modal-update').addClass('is-active')"
                            id="tap-<%= item %>">
                            <div class="box project-box">
                                <p class="title has-text-centered has-text-light">
                                    <%= obj.Title%>
                                </p>
                            </div>
                        </div>
                    <% item++; %>
                    <% } %>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <form id="worklog-form-create" method="POST" action="create-worklog" style="display: none;">
        <input type="text" id="worklog-form-create-time" name="time">
        <input type="text" id="worklog-form-create-task-id" name="taskId">
    </form>
    <div class="modal" id="worklog-modal-create">
        <div class="modal-background"></div>
        <div class="modal-content">
            <div class="box">
                <div class="columns">
                    <div class="column">
                        <button class="button" onclick='$("#worklog-modal-create").removeClass("is-active"); $("#task-modal").addClass("is-active")'>Back</button>
                    </div>
                </div>
                <div class="columns has-text-centered">
                    <div class="column">
                        <p class="title">Create new worklog</p>
                    </div>
                </div>
                <div class="level"></div>
                <div class="columns is-centered has-text-centered">
                    <div class="column is-centered has-text-centered">
                        <span class="label">Hours:</span>
                        <div class="select" >
                            <select id="worklog-create-hours">
                                <% for(item=0;item<25;item++) { %>
                              <option value="<%= item %>"><%= item %></option>
                              <% } %>
                            </select>
                          </div>
                    </div>  

                    <div class="column is-centered has-text-centered">
                        <span class="label">Minutes:</span>
                        <div class="select" >
                            <select id="worklog-create-minutes">
                                <% for(item=1;item<60;item++) { %>
                              <option value="<%= item %>"><%= item %></option>
                              <% } %>
                            </select>
                          </div>
                    </div>  
                </div>
                <div class="columns has-text-centered">
                    <div class="column">
                        <button class="button is-success" id="project-create-btn" onclick="submitCreateWorklog()">
                            <span class="icon is-small">
                              <i class="fas fa-check"></i>
                            </span>
                            <span>Save</span>
                          </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <form id="worklog-form-update" method="POST" action="update-worklog" style="display: none;">
        <input type="text" id="worklog-form-update-time" name="time">
        <input type="text" id="worklog-form-update-worklog-id" name="worklogId">
    </form>
    <div class="modal" id="worklog-modal-update">
        <div class="modal-background"></div>
        <div class="modal-content">
            <div class="box">
                <div class="columns">
                    <div class="column">
                        <button class="button" onclick='$("#worklog-modal-update").removeClass("is-active"); $("#worklog-modal").addClass("is-active")'>Back</button>
                    </div>
                </div>
                <div class="columns has-text-centered">
                    <div class="column">
                        <p class="title">Update worklog</p>
                    </div>
                </div>
                <div class="level"></div>
                <div class="columns is-centered has-text-centered">
                    <div class="column is-centered has-text-centered">
                        <span class="label">Hours:</span>
                        <div class="select" >
                            <select id="worklog-update-hours">
                                <% for(item=0;item<25;item++) { %>
                              <option value="<%= item %>"><%= item %></option>
                              <% } %>
                            </select>
                          </div>
                    </div>  

                    <div class="column is-centered has-text-centered">
                        <span class="label">Minutes:</span>
                        <div class="select" >
                            <select id="worklog-update-minutes">
                                <% for(item=1;item<60;item++) { %>
                              <option value="<%= item %>"><%= item %></option>
                              <% } %>
                            </select>
                          </div>
                    </div>  
                </div>
                <div class="columns has-text-centered">
                    <div class="column">
                        <button class="button is-success" id="project-create-btn" onclick="submitEditWorklog()">
                            <span class="icon is-small">
                              <i class="fas fa-check"></i>
                            </span>
                            <span>Save</span>
                          </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="modal" id="worklog-modal">
        <div class="modal-background"></div>
        <div class="modal-content">
            <div class="box">
                <div class="columns">
                    <div class="column">
                        <button class="button" onclick='$("#worklog-modal").removeClass("is-active"); $("#task-modal").addClass("is-active")'>Back</button>
                    </div>
                </div>
                <!--<div class="columns">
                    <div class="column has-text-centered">

                            <button id="deleteButton" class="button is-danger is-outlined" onclick="deleteWorklog(selectedWorklog)">
                                <span class="icon is-small">
                                    <i class="fas fa-times"></i>
                                </span>
                                <span>Delete</span>
                            </button>

                    </div>
                    <div class="column">
                        <p class="title has-text-centered" id="worklog-modal-title">Worklog</p>
                    </div>
                    <div class="column has-text-centered">
                        <button class="button is-link is-outlined" onclick="editWorklog()">
                            <span class="icon is-small">
                                <i class="fas fa-pencil-alt"></i>
                            </span>
                            <span>Edit</span>
                        </button>
                    </div>
                </div>
            
            <div class="column">
                        <p class="title has-text-centered" id="worklog-modal-title">Worklog</p>
                    </div>
            -->
                <div id="worklog-perms-true"></div>
                <div id="worklog-perms-false"></div>
                <p class="subtitle has-text-centered"><b>Created on:</b> <span id="worklog-modal-date-of-creation">testDate</span></p>
                <p class="subtitle has-text-centered"><b>Created by:</b> <span id="worklog-modal-creator"></span></p>
                <p class="subtitle has-text-centered"><b>Time:</b> <span id="worklog-modal-time"></span></p>
                <p class="subtitle has-text-centered"><b>Belongs to task:</b> <span id="worklog-modal-task"></span></p>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="modal" id="team-modal">
        <div class="modal-background"></div>
        <div class="modal-content">
            <div class="box">
                <div class="columns">
                    <div class="column">
                        <button class="button" onclick="$('#team-modal').removeClass('is-active');">X</button>
                    </div>
                </div>
                <div class="level"></div>
                <div class="columns">
                    <div class="column">
                        <p class="title has-text-centered" id="team-modal-title">testTitle</p>
                    </div>
                </div>
                <div class="level"></div>
                    <p class="subtitle has-text-centered"><b>Created on:</b> <span id="team-modal-date-of-creation">testDate</span></p>
                    <p class="subtitle has-text-centered"><b>Created by:</b> <span id="team-modal-creator"></span></p>
                    <p class="subtitle has-text-centered"><b>Last updated on:</b> <span id="team-modal-last-update-date"></span></p>
                    <p class="subtitle has-text-centered"><b>Last changed by:</b> <span id="team-modal-last-update-user"></span></p>
                    <p class="subtitle has-text-centered"><b>Users in this team:</b> <span id="team-modal-users"></span></p>
            </div>
        </div>
    </div>
</section>
</body>

<script>
    //var selectedItem, selectedProject, selectedTask, selectedTeam, selectedUser, selectedWorklog;

    let projects = <%- JSON.stringify(data.projects) %>;
    let users = <%- JSON.stringify(data.users) %>;
    let tasks = <%- JSON.stringify(data.tasks) %>;
    let teams = <%- JSON.stringify(data.teams) %>;
    let worklogs = <%- JSON.stringify(data.worklogs) %>;
    let UUID = <%= data.userId %>;
    let allTasks = <%- JSON.stringify(data.allTasks) %>;
    let allTeams = <%- JSON.stringify(data.allTeams) %>;
    
    async function openProject(id) {
        let str="";

        $("#project-perms-true").html("")
        $("#project-perms-false").html("")

        if(UUID==projects[id].CreatorId) {
            $("#project-perms-true").html(`
            <div class="columns" id="project-perms-true">
                <div class="column has-text-centered">

                        <button id="deleteButton" class="button is-danger is-outlined" onclick="submitDeleteProject()">
                            <span class="icon is-small">
                                <i class="fas fa-times"></i>
                            </span>
                            <span>Delete</span>
                        </button>

                </div>
                <div class="column">
                    <p class="title has-text-centered" id="project-modal-title">testTitle</p>
                </div>
                <div class="column has-text-centered">
                    <button class="button is-link is-outlined" onclick="$('#project-modal').removeClass('is-active'); editProject();">
                        <span class="icon is-small">
                            <i class="fas fa-pencil-alt"></i>
                        </span>
                        <span>Edit</span>
                    </button>
                </div>
            </div>
            `);
        } else {
            $("#project-perms-false").html(`
                <div class="columns" id="project-perms-false">
                    <div class="column">
                        <p class="title has-text-centered" id="project-modal-title">testTitle</p>
                    </div>
                </div>
            `);
        }

        $("#project-modal").addClass("is-active");
        $("#project-modal-title").html(projects[id].Title);
        $("#project-modal-description").html(projects[id].Description);
        $("#project-modal-date-of-creation").html(convertDate(projects[id].DateOfCreation));
        $("#project-modal-last-update-date").html(convertDate(projects[id].DateOfLastChange));

        const { CreatorId, LatestChangeUserId, Id } = projects.filter(project => project.Id === projects[id].Id)[0];
        let {FirstName, LastName } = users.filter(user => user.Id === CreatorId)[0];
        $("#project-modal-creator").html(FirstName+" "+LastName);

        let user = users.filter(user => user.Id === LatestChangeUserId)[0];
        $("#project-modal-last-update-user").html(user.FirstName+" "+user.LastName);

        const tasksOfProject = tasks.filter( task => task.ProjectId == projects[selectedProject].Id);
        console.log(tasksOfProject);
        for(const item of tasksOfProject) {
            str+=item.Title+", ";
        }
        str=str.substring(0,str.length-2);
        $("#project-modal-tasks").html(str);
        $("#project-edit-tasks").html(str);

        const results = await fetch(`/get-users-teams/${Id}`, {method: "GET"});
        let obj = await results.json();
        str="";
        for(const item of obj) {
            str+=item.Title+", ";
        }
        str=str.substring(0,str.length-2);
        $("#project-modal-teams").html(str);
        $("#project-edit-teams").html(str);
    }

    function createProject() {
        $("#project-modal-create").addClass("is-active");
    }

    function submitCreateTask() {
        const form = $("#task-create-form");
        var e = document.getElementById("task-create-status");
        var status = e.options[e.selectedIndex].value;
        let names = $("#task-create-modal-user").html().split(" ");
        const userId = users.filter(user=> user.FirstName==names[0] && user.LastName==names[1])[0].Id;
        const projectId = projects.filter(project=> project.Title == $("#task-create-modal-project").html())[0].Id;

        $("#task-create-form-title").val($("#task-create-title").val());
        $("#task-create-form-description").val($("#task-create-description").val());
        $("#task-create-form-status").val(status);
        $("#task-create-form-projectId").val(projectId);
        $("#task-create-form-asigneeId").val(userId);
        form.submit();
    }

    async function editProject() {
        $("#project-modal-create").removeClass("is-active");
        $("#project-modal-edit").addClass("is-active");
        $("#project-edit-title").val(projects[selectedProject].Title);
        $("#project-edit-description").val(projects[selectedProject].Description);

        const { Id } = projects.filter(project => project.Id === projects[selectedProject].Id)[0];

        const results = await fetch(`/get-users-teams/${Id}`, {method: "GET"});
        let obj = await results.json();

        let str="";

        for(const item of obj) {
            str+=item.Title+", ";
        }
        str=str.substring(0,str.length-2);

        $("#project-edit-teams").html(str);
    }

    function submitEditProject() {
        const newTitle = $("#project-edit-title").val();
        const newDesc = $("#project-edit-description").val();
        let  newTeams = $("#project-edit-teams").html();
        let newTasks = $("#project-edit-tasks").html();
        
        newTeams = newTeams.split(", ");
        newTasks = newTasks.split(", ");

        $("#project-update-title").val(newTitle);
        $("#project-update-description").val(newDesc);
        $("#project-update-teams").val(newTeams);
        $("#project-update-tasks").val(newTasks);
        $("#project-update-projectId").val(projects[selectedProject].Id);

        $("#form-update-project").submit();
    }

    function submitEditUser() {
        const form = $("#user-update-form");
        $("#user-update-form-username").val($("#user-update-username").val());
        $("#user-update-form-password").val($("#user-update-password").val());
        $("#user-update-form-first-name").val($("#user-update-first-name").val());
        $("#user-update-form-last-name").val($("#user-update-last-name").val());
        $("#user-update-form-is-admin").val($("#user-update-is-admin").val());
        $("#user-update-form-user-id").val(users[selectedUser].Id);

        console.log(form);

        form.submit();
    }

    function submitEditTeam() {
        const form = $("#team-form-update");
        let usersOfTeam = $("#team-update-users").html();
        let userArr = usersOfTeam.split(", ");
        let ids = [];
        for(const item of userArr) {
            ids.push(users.filter(x=> x.FirstName+" "+x.LastName==item)[0].Id.toString());
        }
        console.log(ids);

       $("#team-form-update-title").val($("#team-update-title").val())
       $("#team-form-update-users").val(ids);
       $("#team-form-update-team-id").val(teams[selectedTeam].Id)

       form.submit();
    }

    function submitEditTask() {
        const form = $("#task-update-form");
        let projectId = projects.filter(prj=> prj.Title == $("#task-update-modal-project").html())[0].Id;
        let userId = users.filter(usr=> usr.FirstName+" "+usr.LastName == $("#task-update-modal-user").html())[0].Id;

        $("#task-update-form-title").val($("#task-update-title").val());
        $("#task-update-form-description").val($("#task-update-description").val());
        $("#task-update-form-projectId").val(projectId);
        $("#task-update-form-asigneeId").val(userId);
        $("#task-update-form-status").val(convertStringToStatus($("#task-update-status").val()));
        $("#task-update-task-id").val(tasks[selectedTask].Id);

       form.submit();
    }

    function submitEditWorklog() {
        const form = $("#worklog-form-update");
        const minutes = $("#worklog-update-minutes").val();
        const hours = $("#worklog-update-hours").val()*60;
        let log = worklogs.filter(x=> x.HTMLid==selectedWorklog)[0];

        $("#worklog-form-update-time").val(parseInt(minutes)+parseInt(hours));
        $("#worklog-form-update-worklog-id").val(log.Id);

        form.submit();
    }

    function submitProject() {
        const title = $("#iproject-create-title").val();
        
        $("#project-create-btn")
    }

    function submitCreateWorklog() {
        selectedTask=selectedTask.substring(3,selectedTask.length);
        console.log(selectedTask);
        const form = $("#worklog-form-create");
        let time = parseInt($("#worklog-create-minutes").val())+parseInt($("#worklog-create-hours").val()*60);
        $("#worklog-form-create-time").val(time);
        $("#worklog-form-create-task-id").val(tasks[selectedTask].Id);

        form.submit();
    }

    function editProjectTeams() {
        var all = $(".selected-item");
        let ids = [];
        console.log(all);
        for(let item=0; item<all.length;item++) {
            if(all[item].id.substr(0,4)=="pte-")
                ids.push(parseInt(all[item].id.substring(4,all[item].id.length)));
        }

        let str="";
        for(const item of ids) {
            str+=allTeams[item].Title+", ";
        }
        str=str.substring(0,str.length-2);

        $("#project-edit-teams").html(str);
        $("#project-modal-edit-teams").removeClass("is-active");
        $("#project-modal-edit").addClass("is-active");
    }

    function editProjectTasks() {
        var all = $(".selected-item");
        let ids = [];
        console.log(all);
        for(let item=0; item<all.length;item++) {
            if(all[item].id.substr(0,4)=="pta-")
                ids.push(parseInt(all[item].id.substring(4,all[item].id.length)));
        }

        let str="";
        for(const item of ids) {
            str+=allTasks[item].Title+", ";
        }
        str=str.substring(0,str.length-2);
        $("#project-edit-tasks").html(str)
        $("#project-modal-edit-tasks").removeClass("is-active");
        $("#project-modal-edit").addClass("is-active");
    }

    function editUser() {
        selectedUser=selectedUser.substring(2,selectedUser.length);
        $("#user-update-username").val(users[selectedUser].Username);
        $("#user-update-password").val(users[selectedUser].Password);
        $("#user-update-first-name").val(users[selectedUser].FirstName);
        $("#user-update-last-name").val(users[selectedUser].LastName);
        console.log(users[selectedUser].IsAdmin);
        $("#user-update-is-admin").val(convertIsAdminToString(users[selectedUser].IsAdmin));
    }

    function editTask() {
        selectedTask=selectedTask.substring(3,selectedTask.length);
        $("#task-modal-update").addClass("is-active");
        $("#task-update-title").val(tasks[selectedTask].Title);
        $("#task-update-description").val(tasks[selectedTask].Description);
        $("#task-update-status").val(convertStatusToString(tasks[selectedTask].Status));
        $("#task-update-modal-project").html($("#task-modal-project").html());
        $("#task-update-modal-user").html($("#task-modal-asignee").html());
    }

    function editWorklog() {
        //selectedWorklog=selectedWorklog.substring(2,selectedWorklog.length);
        
        let log = worklogs.filter(x=> x.HTMLid==selectedWorklog)[0];
        console.log(log)
        $('#worklog-modal').removeClass('is-active'); 
        $('#worklog-modal-update').addClass('is-active');
        $("#worklog-update-hours").val(parseInt(log.Time/60));
        $("#worklog-update-minutes").val(log.Time%60);
    }

    async function editTeam() {
        selectedTeam=selectedTeam.substring(3,selectedTeam.length);
        $("#team-update-title").val(teams[selectedTeam].Title);
        let usersInTeam = await fetch(`/get-team-users/${teams[selectedTeam].Id}`);
        usersInTeam= await usersInTeam.json();
        console.log(usersInTeam);
        let str="";
        for(const user of usersInTeam) {
            str+=user[0].FirstName+" "+user[0].LastName+", ";
        }
        str=str.substring(0,str.length-2);
        console.log(str);
        $("#team-update-users").html(str);
    }

    async function openTask(id) {
        $("#task-modal").addClass("is-active");
        $("#task-perms-true").html("");
        $("#task-perms-false").html("");

        const asignee = users.filter(user=>user.Id == tasks[id].AsigneeId)[0];
        const creator = users.filter(user=>user.Id == tasks[id].CreatorId)[0];
        const lastUpdateUser = users.filter(user=>user.Id == tasks[id].LatestChangeUserId)[0];
        const worklogsOfTask = worklogs.filter(worklog => worklog.TaskId == tasks[id].Id);

        
        $("#task-modal-project").html(projects.filter(project=> project.Id == tasks[id].ProjectId)[0].Title);
        $("#task-modal-asignee").html(asignee.FirstName+" "+asignee.LastName);
        $("#task-modal-description").html(tasks[id].Description);
        $("#task-modal-status").html(convertStatusToString(tasks[id].Status));
        $("#task-modal-date-of-creation").html(convertDate(tasks[id].DateOfCreation));
        $("#task-modal-creator").html(creator.FirstName+" "+creator.LastName);
        $("#task-modal-last-update-date").html(convertDate(tasks[id].DateOfLastChange));
        $("#task-modal-last-update-user").html(lastUpdateUser.FirstName+" "+lastUpdateUser.LastName);
        
        if(UUID == tasks[id].CreatorId) {
            $("#task-perms-true").html(`
            <div class="columns">
                <div class="column has-text-centered">
                    <button id="delete-task" class="button is-danger is-outlined" onclick="deleteTask(selectedTask)">
                        <span class="icon is-small">
                            <i class="fas fa-times"></i>
                        </span>
                        <span>Delete</span>
                    </button>
                </div>
                <div class="column">
                    <p class="title has-text-centered" id="task-modal-title">testTitle</p>
                </div>
                <div class="column has-text-centered">
                    <button class="button is-link is-outlined" onclick="$('#task-modal').removeClass('is-active'); editTask();">
                        <span class="icon is-small">
                            <i class="fas fa-pencil-alt"></i>
                        </span>
                        <span>Edit</span>
                    </button>
                </div>
            </div>
            `);
        } else {
            $("#task-perms-false").html(`
                <div class="columns">
                    <div class="column">
                        <p class="title has-text-centered" id="task-modal-title">testTitle</p>
                    </div>
                </div>
            `);
        }

        $("#task-modal-title").html(tasks[id].Title);

        let str="";
        let count=0;
        for(let log of worklogsOfTask) {
            let logCreator = users.filter(user=> user.Id==log.CreatorId)[0];
            str+=`<div class="column is-half project is-centered pan" id="w-${count}-${id}" onclick="selectedWorklog=this.id; openWorklog(selectedWorklog)">
                <div class="box project-box">
                    <p class="has-text-centered has-text-light">
                        Made by: ${logCreator.FirstName} ${logCreator.LastName}
                    </p>
                    <p class="has-text-centered has-text-light">
                        Time spent: ${convertTime(log.Time)}
                    </p>
                    <p class="has-text-centered has-text-light">
                        Made on: ${convertDate(log.Date)}
                    </p>
                </div>
            </div>`;
            log.HTMLid=`w-${count}-${id}`;
            count++;
        }
        
        $("#task-modal-worklogs").html(str);
    }

    function openWorklog(id) {
        //id=id.substring(2,id.length);
        $("#task-modal").removeClass("is-active");
        $("#worklog-modal").addClass("is-active");

        $("#worklog-perms-true").html(" ");
        $("#worklog-perms-false").html(" ");

        let log = worklogs.filter(x=> x.HTMLid==id)[0];
        console.log(log);

        const taskTitle = tasks.filter(task => task.Id == log.TaskId)[0].Title;
        const creator = users.filter(usr=> usr.Id == log.CreatorId)[0];
        console.log(worklogs[id]);

        
        if(UUID==creator.Id) {
            $("#worklog-perms-true").html(`
            <div class="columns">
                    <div class="column has-text-centered">

                            <button id="deleteButton" class="button is-danger is-outlined" onclick="deleteWorklog(selectedWorklog)">
                                <span class="icon is-small">
                                    <i class="fas fa-times"></i>
                                </span>
                                <span>Delete</span>
                            </button>

                    </div>
                    <div class="column">
                        <p class="title has-text-centered" id="worklog-modal-title">Worklog</p>
                    </div>
                    <div class="column has-text-centered">
                        <button class="button is-link is-outlined" onclick="editWorklog()">
                            <span class="icon is-small">
                                <i class="fas fa-pencil-alt"></i>
                            </span>
                            <span>Edit</span>
                        </button>
                    </div>
                </div>
            `)
        } else {
            $("#worklog-perms-false").html(`
                <div class="columns">
                    <div class="column">
                        <p class="title has-text-centered" id="worklog-modal-title">Worklog</p>
                    </div>
                </div>
            `);
        }

        
        $("#worklog-modal-date-of-creation").html(convertDate(log.Date));
        $("#worklog-modal-creator").html(creator.FirstName+" "+creator.LastName);
        $("#worklog-modal-time").html(convertTime(log.Time));
        $("#worklog-modal-task").html(taskTitle);
        
        console.log(id);
    }

    async function openTeam(id) {


        $("#team-modal").addClass("is-active");
        const creator = users.filter(user=>user.Id == teams[id].CreatorId)[0];
        const lastUpdateUser = users.filter(user=>user.Id == teams[id].LatestChangeUserId)[0];
        const usersInTeam = await fetch(`/get-team-users/${teams[id].Id}`, {method:"GET"});
        const obj = await usersInTeam.json();
        let str="";
        
        for(const item of obj) {
            console.log(item);
            str+=item[0].FirstName+" "+item[0].LastName+", ";
        }
        str=str.substring(0,str.length-2);

        console.log(obj);
        $("#team-modal-title").html(teams[id].Title)
        $("#team-modal-date-of-creation").html(convertDate(teams[id].DateOfCreation));
        $("#team-modal-creator").html(creator.FirstName+" "+creator.LastName);
        $("#team-modal-last-update-date").html(convertDate(teams[id].DateOfLastChange));
        $("#team-modal-last-update-user").html(lastUpdateUser.FirstName+" "+lastUpdateUser.LastName);
        $("#team-modal-users").html(str);
    }

    async function openUser(id) {
        $("#user-modal").addClass("is-active");
        const creator = users.filter(user=>user.Id == users[id].CreatorId)[0];
        const lastUpdateUser = users.filter(user=>user.Id == users[id].LatestChangeUserId)[0];
        let str="*";

        $("#user-modal-names").html(users[id].FirstName+" "+users[id].LastName);
        $("#user-modal-username").html(users[id].Username);
        $("#user-modal-first-name").html(users[id].FirstName);
        $("#user-modal-last-name").html(users[id].LastName);
        $("#user-modal-password").html(str.repeat(users[id].Password.length));
        $("#user-modal-date-of-creation").html(convertDate(users[id].DateOfCreation));
        $("#user-modal-creator").html(creator.FirstName+" "+creator.LastName);
        $("#user-modal-last-update-date").html(convertDate(users[id].DateOfLastChange));
        $("#user-modal-last-update-user").html(lastUpdateUser.FirstName+" "+lastUpdateUser.LastName);
        $("#user-modal-is-admin").html(users[id].IsAdmin.toString());
    }

    function createTask() {
        $("#task-modal-create").addClass("is-active");
    }

    async function deleteTask(id) {
        id=parseInt(id.substr(3,id.length));
        
        id=tasks[id].Id;
        console.log(id);
        await fetch(`/delete-task/${id}`, { method:"POST" });
        window.location.reload();
    }

    async function deleteTeam(id) {
        id=parseInt(id.substr(3,id.length));
        
        id=teams[id].Id;
        console.log(id);
        await fetch(`/delete-team/${id}`, { method:"POST" });
        window.location.reload();
    }

    async function deleteUser(id) {
        id=parseInt(id.substr(2,id.length));
        
        id=users[id].Id;
        console.log(id);
        await fetch(`/delete-user/${id}`, { method:"POST" });
        window.location.reload();
    }

    async function deleteWorklog(id) {
        console.log(id);
        id=parseInt(id.substr(2,id.length));
        console.log(id);
        id=worklogs[id].Id;
        console.log(id);
        
        await fetch(`/delete-worklog/${id}`, { method:"POST" });
        window.location.reload();
    }

    function saveTeam() {
        var all = $(".selected-item");
        let ids = [];
        let str="";
        console.log(all);
        for(let item=0; item<all.length;item++) {
            if(all[item].id.substr(0,4)=="teu-")
                ids.push(parseInt(all[item].id.substring(4,all[item].id.length)));
        }
        for(let item of ids) {
            str+=users[item].FirstName+' '+users[item].LastName+', ';
        }
        str = str.substr(0,str.length-2);

        $("#team-modal-create-select-users").removeClass("is-active");
        $("#team-modal-create").addClass("is-active");
        $("#team-create-users").html(str);
    }

    function saveTeamUpdateUsers() {
        var all = $(".selected-item");
        let ids = [];
        let str="";
        console.log(all);
        for(let item=0; item<all.length;item++) {
            if(all[item].id.substr(0,5)=="teuu-")
                ids.push(parseInt(all[item].id.substring(5,all[item].id.length)));
        }
        for(let item of ids) {
            str+=users[item].FirstName+' '+users[item].LastName+', ';
        }
        str = str.substr(0,str.length-2);

        $("#team-modal-update-select-users").removeClass("is-active");
        $("#team-modal-update").addClass("is-active");
        $("#team-update-users").html(str);
    }

    function submitCreateTeam() {
        const form = $("#team-form-create");
        const usersOfTeam = $("#team-create-users").html();
        let userArr = usersOfTeam.split(", ");
        let ids = [];
        for(const item of userArr) {
            ids.push(users.filter(x=> x.FirstName+" "+x.LastName==item)[0].Id.toString());
        }
        console.log(ids);
        $("#team-form-create-title").val($("#team-create-title").val());
        $("#team-form-create-users").val(ids);
        console.log($("#team-form-create-users").val());
        form.submit();
    }

    function submitCreateUser() {
        const form = $("#user-create-form");
        var e = document.getElementById("user-create-is-admin");
        var status = e.options[e.selectedIndex].value;
        $("#user-create-form-username").val($("#user-create-username").val());
        $("#user-create-form-password").val($("#user-create-password").val());
        $("#user-create-form-first-name").val($("#user-create-first-name").val());
        $("#user-create-form-last-name").val($("#user-create-last-name").val());
        $("#user-create-form-is-admin").val(status);

        form.submit();
    }

    function showPassword(id) {
        id = id.substring(2,id.length);
        $("#user-modal-password").html(users[id].Password);
    }

    function convertStatusToString(status) {
        switch(status) {
            case 1: return "Backlog"; break;
            case 2: return "In progress"; break;
            case 3: return "Done"; break;
        }
    }

    function convertStringToStatus(string) {
        switch(string) {
            case "Backlog": return 1;
            case "In progress": return 2;
            case "Done": return 3;
        }
    }

    function convertIsAdminToString(statement) {
        if(statement)
            return "1";
        return "0";
    }

    function convertDate(date) {
        let year = date.substring(0,4);
        let month = date.substring(5,7);
        let day = date.substring(8,10);
        let hours = date.substring(11,16);
        return day+"."+month+"."+year+" "+hours;
    }

    function convertTime(minutes) {
        return parseInt(minutes/60)+" Hours and "+parseInt(minutes%60)+" Minutes";
    }

    async function submitDeleteProject() {
        const deleteProject = $("#delete-project");
        const title = $("#project-modal-title").html();
        const { Id } = projects.filter(project => project.Title === title)[0];
        await fetch(`/delete-project/${Id}`, { method: "POST" });
        location.reload();
    }

    async function submitCreateProject() {
        const prjCrtTitle = $("#project-create-title");
        const prjCrtDescription = $("#project-create-description");
        const title = prjCrtTitle.val()
        const description = prjCrtDescription.val();

        await fetch(`/create-project/${title}/${description}`, { method: "POST"});
        location.reload();
    }

    //const prjCrtBtn = document.querySelector("#project-create-btn");
    
    // prjCrtBtn.addEventListener("click",e=>{
    //     e.preventDefault();
    //     const title = prjCrtTitle.val()
    //     const description = prjCrtDescription.val();

    //     fetch(`/create-project/${title}/${description}`, { method: "POST"});
    //     location.reload();
    // });

    
</script>

</html>